*{
	margin: 0px;
	padding: 0px;
}

#div{
	width: 1349px;
	margin: 0 auto;
}

header{
	width: 1349px;
	height: 80px;
	background-color: #444250;
	position: fixed;
	z-index: 2;
	margin-top: -80px;
	
}

#nav{
	width: 80%;
	height: 80px;
	margin: 0 auto;
}

#nav img{
	margin: 10px 0 0 0;
	float: left;
}

#nav ul li{
	float: right;
	list-style: none;
}

#nav ul li a{
	display: inline-block;
	width: 90px;
	height: 80px;
	line-height: 90px;
	text-decoration:none;
	color: white;
	text-align: center;
	font-size: 14px;
}

#nav .header_a{
	background: #c30e23;
}

#nav ul li a:hover{
	background-color:#565561;
}

#content{
	width: 100%;
	height: 460px;
	background-color: #302a34;
	position: relative;
	margin-top: 80px;
}

#content span{
	width: 145px;
	height: 35px;
	background-color: #dfd1b5;
	position: absolute;
	margin: 20px 0 0 600px;
	border-radius: 25px;
	line-height: 35px;
	text-align: center;
	font-size: 22px;
}

#content p{
	width: 1070px;
	color: #dfd1b5;
	position: relative;
	margin:20px 0 0 135px;
	line-height: 25px;
	text-indent: 35px;
	font-size: 14px;
}

#content article{
	position: absolute;
	margin-top: 60px;
}

#content_2{
	width: 100%;
	height: 1320px;
	position: relative;
	background-color: #cd172c;
}

#content_2>span{
	width: 145px;
	height: 35px;
	background-color: #dfd1b5;
	position: absolute;
	margin: 20px 0 0 600px;
	border-radius: 25px;
	line-height: 35px;
	text-align: center;
	font-size: 22px;
	color: #cd172c;
}

#content_2 .shuxian{
	width: 1px;
	height: 1150px;
	background-color: #dfd1b5;
	position: absolute;
	margin: 90px 0 0 675px;
}

#content_2 .br{
	width: 100%;
	height: 80px;
	position: relative;
	top: 80px;
	margin-bottom: 50px;
}

#content_2 .br img{
	width: 67px;
	position: absolute;
	margin-left: 642px;
}

#content_2 .br p{
	position: absolute;
	left: 657px;
	top: 27px;
	font-size: 18px;
	color: red;
}

#content_2 .br span{
	position: absolute;
	left: 720px;
	top: 30px;
	color: #dfd1b5;
}

#content_2 .sl{
	width: 100%;
	height: 80px;
	position: relative;
	top: 90px;
}

#content_2 .sl img{
	width: 20px;
	position: absolute;
	margin-left: 665px;
}

#content_2 .sl span{
	height: 30px;
	position: absolute;
	left: 400px;
	color: #dfd1b5;
}

#content_2 .sl p{
	position: absolute;
	left: 535px;
	color: #dfd1b5;
}

#content_2 .sr{
	width: 100%;
	height: 80px;
	position: relative;
	top: 90px;
}

#content_2 .sr img{
	width: 20px;
	position: absolute;
	margin-left: 665px;
}

#content_2 .sr span{
	height: 30px;
	position: absolute;
	left: 700px;
	color: #dfd1b5;
}

#content_2 .sr p{
	position: absolute;
	left: 700px;
	color: #dfd1b5;
}

#content_2 .bl{
	width: 100%;
	height: 80px;
	position: relative;
	top: 80px;
	margin-bottom: 50px;
}

#content_2 .bl img{
	width: 67px;
	position: absolute;
	margin-left: 642px;
}

#content_2 .bl p{
	position: absolute;
	left: 655px;
	top: 27px;
	font-size: 18px;
	color: red;
}

#content_2 .bl span{
	position: absolute;
	left: 480px;
	top: 30px;
	color: #dfd1b5;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #444250;
}

footer article{
	color: white;
	font-size: 13px;
	position: absolute;
	margin: 30px 0 0 400px;
	text-align: center;
}